.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    border: none;
    margin-right: 5%;
}

.threeLines {
    display: flex;
    background: transparent;
    border:none;
    cursor: pointer;
    align-items: center;
}


.name {
    color:  rgb(11, 11, 243);
}

@media (min-width: 811px){
    .menu {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .threeLines {
        display: none;
    }

}
