.contentOverview {
    border: 1px solid red;
    height: auto;
}

.providerLogo {
    border: 1px solid red;

}
.description {
    border: 1px solid red;

}

.enrollButton {
    border: 1px solid red;

}

.about {
    border: 1px solid red;

}

.contentList {
    border: 1px solid red;

}