.join {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.learnOrTeach {
    display: flex;
    flex-direction: column;
    background-color: #5E75E6;
    color: white;
    justify-content: center;
    align-items: center;
    height: 1000px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.236);
    background-image: url("/src/assets/img/books-1845614_1920.jpg");
    background-size: cover;
    background-position-x: -750px;
}

.learnJoin {
    display: flex;
    flex-direction: column;
    width: 70%;
    height:45%;
    border: none;
    background: transparent;
    justify-content: center;
    align-items: left;
    text-align:left;
    color: #2a3663df;
    margin-right: 15%;
    margin-bottom: 8%;
    
}
.learnTitle{
    margin-top: 0;
    margin-bottom: 5%;
}
.learnDesc {
    font-size:large;
    font-weight: 100;
    color: #2a3663b4;
    margin: 0;
    margin-bottom: 10%;
}
.learnJoinButton {
    display: flex;
    background-color: #2a3663df;
    width: 80%;
    height: 15%;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5%;
    padding: 5%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.learnJoinButton:hover {
    box-shadow: 0 0 5px #2a366360;
    border: 2px solid white;
} 

.styledLearn {
    /* color: #5E75E6;   */
    color: #ffff;
}

.joinTeach {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 70%;
    height: 40%;
    color: #2652A3;
    align-items: left;
    text-align:left;
    color: #2a3663df;
    margin-right: 15%;
    margin-bottom: 3%;

}

.teachTitle {
    margin: 0;
    margin-bottom: 5%;
    
    color: #B59F78;
}

.teachTitleDesc {
    margin: 0;
    margin-bottom: 10%;
    font-size:large;
    font-weight: 100;
    color: #B59F78;
}
.joinTButt {
    height: 40%;
}
.teachJoinButton {
    display: flex;
    /* background-color: #e0561f80; */
    background-color: #B59F78;
    background-blend-mode: luminosity;
    color: white;
    width: 80%;
    height: 15%;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5%;
    padding: 5%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: x-large;
    font-weight: 900;
}

.teachJoinButton:hover {
    box-shadow: 0 0 5px #c2a6538a;
    border: 2px solid white;
}

@media (min-width: 811px) {
    .join {
        display: flex;
        width: 100vw;
    
    }
    .learnOrTeach {
        display: flex;
        background-color: #5E75E6;
        color: white;
        height: 800px;
        background-position-x: 0;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        margin-bottom: 2%;
        align-items: center;
    }

    .learnTitle .teachTitle {
        margin-top: 0;
        margin-bottom: 2.5%;
        font-size: xxx-large;
    }
    .learnDesc {
        font-size:large;
        font-weight:200;
        margin-bottom: 7.5%;
    }
    .learnJoin {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 50%;
        border-radius: 15px;
        background: transparent;
        justify-content: center;
        text-align:justify;
        margin-right: 28%;
        margin-left: 0;
        margin-bottom: 0;
    }

    .books {
        width: 50%;
    }

    .learnJoinButton {
        display: flex;
        width: 50%;
        height: 12%;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 0%;
        padding: 5%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .joinTeach {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 30%;
        height: 50%;
        color: #2652A3;
        text-align:justify;
        color: #2a3663df;
        margin-right: 28%;
        margin-bottom: 0;
        order: 2;
    }
    
    .teachTitle {
        color: #B59F78;
        font-size: xx-large;
    }
    
    .teachTitleDesc {
        
        font-size:large;
        font-weight:100;
        color: #B59F78;
    }
    
    .teachJoinButton {
        display: flex;
        /* background-color: #e0561f80; */
        background-color: #B59F78;
        background-blend-mode: luminosity;
        color: white;
        width: 50%;
        height: 12%;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 0;
        padding: 2%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: x-large;
        font-weight: 900;
    }
    
    .teachJoinButton:hover {
        box-shadow: 0 0 5px #c2a6538a;
        border: 2px solid white;
    }
}