.newSection {
    display: flex;
    flex-direction: column;
    height: 900px;
    font-size: large;
    margin-top: 2%;
    box-shadow: 0 0 10px rgba(4, 4, 4, 0.145);
}

@media (min-width: 768px){
    .newSection {
        height: 600px;
        font-size: large;
        margin-top: 2%;
        box-shadow: 0 0 10px rgba(4, 4, 4, 0.145);
    }
    
    
}